@import "../vars.css"; 
.container
{   
    color: var(--color-textone);
    position: relative;
    z-index: 1;
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-top: 10px;
    padding-left:30px;
    padding-right: 30px;
    border-radius: 20px;
}
.maintitle
{
    font-size: 60px;
    padding-bottom: 20px;
    padding-top: 40px;
}
.year
{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--color-texttwo);
}
.studying
{   
    width:600px
}
.content
{
    display: flex;
}
.separate
{
    background-color: rgba(255, 228, 196, 0.31);
    position: relative;
    z-index: 1;
    margin-right: 4%;
    margin-top: 10px;
    padding-left:30px;
    padding-right: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}
.separate:hover{
    transform: scale(1.1);
}
.head
{
    font-size: 30px;
    color: var(--color-texttwo);
}
.desp
{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.justUpper
{
    margin-top: 60px;
    color: var(--color-about);
}
.studying
{
    width: 400px;
}
@media screen and (max-width: 830px)
{
    .content{
        flex-direction: column;
    }
    .studying
    {
        display: none;
    }
}